body {
  text-align: center;
}

body .links a {
  padding: 10px;
  text-decoration: none;
  background-color: aquamarine;
  margin: 20px;
  color: black;
}

.links a.active {
  background-color: blueviolet;
}

.img-detail {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container .post {
  width: 50%;
}

.post img {
  width: 50%;
}

.switch-prev {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  background-color: red;
}

.switch-next {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  background-color: green;
}